header {
    width: 100%;
    height: 80px;

    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.logo {
    width: 100%;
    height: 53px;
    margin-left: 20px;
    margin-right: auto;
}

.people-icon {
    font-size: 40px;
    margin-right: 20px;
    margin-left: auto;
}

main {
    width: 100%;
    margin-top: 85px;
    margin-bottom: 110px;
    background-color: #E5E5E5;
}

.all-msgs {
    background-color: #E5E5E5;


    display: flex;
    flex-direction: column;
    gap: 5px;
}

.msg {

    background-color: #dcdcdc;

    display: flex;
    align-items: center;

    padding: 5px 2px;

    word-break: break-all;

    /* overflow-wrap: break-word; */
}

.status {
    background-color: #dcdcdc;
}

.message {
    background-color: #ffffff;
}

.private-message {
    background-color: #FFDEDE;
}

footer {
    width: 100%;
    height: 100px;

    position: fixed;
    bottom: 0px;

    background-color: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-input {
    width: 100%;
    height: 100%;

}

.msg-input {
    width: 100%;
    height: 100%;
    border: none;
}

.send-icon {
    font-size: 40px;
    margin-right: 15px;
}

.login {
    width: 100%;
    height: 100%;

    position: fixed;
    top:0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    background-color: #ffffff;
}

.login-invisible {
    display: none;
}

.logo-login {
    margin-top: 100px;
}

.logo-login img{
    width: 180px;
}


.input-enter {
    margin-top: 150px;

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 10px;
}

.name-login{
    width: 350px;
    height: 70px;

    text-align: center;

    border-style: solid;
    border-radius: 5px ;
    border-color: #E5E5E5;
}

::placeholder {
    text-align: center;
}

.enter {
    width: 150px;
    height: 70px;

    background-color: #E5E5E5;

    border: none;
    border-radius: 5px;

    font-size: 18px;
}


